<!doctype html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26016293-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-26016293-3');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Sent with Care" %></title>
    <link rel="icon" href="https://sentwith.care/favicon.ico">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <script>
      window.intercomSettings = {
        app_id: "egejgybx"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/egejgybx';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
